@charset "UTF-8";

/* Todas as demais mídias */
/* Typical Device Breakpoints
Pequenas Telas: até 600px
Celular: de 600px até 768px 
Tablet: 768px a 922px
Desktop: 922px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    i#burger-menu {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul> li {
        display: inline-block;
    }
}

@media screen and (max-width: 992px) {
    body {
        background-color: var(--color2);
    }

    i#burger-menu {
        display: block;
        width: 50px;
    }

    menu {
        display: none;
    }

    section {
        background-color: var(--color5);
    }
}

