@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color0:#FFFAFA;
    --color1:#87CEEB;
    --color2: #87CEFA;
    --color3: #2e86ac;
    --color4: #0d78a7;
    --color5: #065c81;;

    --standart-font: Arial, Verdana, Helvetica, sans-serif;
    --highlight-font:'Bebas Neue', 'cursive';
    --nunito-font:'Nunito','sans-serif';
}

* {
    margin: 1px;
    padding: 1px;
}

body{
   background-color: var(--color3);
    font-family: var(--standart-font);
    text-align: center;
    color: var(--color4);
}

header {
    background-color: var(--color0);
    text-align: center;
    min-width: 150px;
   padding-top: 40px;
   font-family: var(--highlight-font);
}

header > h1 {
    font-family: var(--standart-font);
    font-size: 1.2em;
    width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.265);
}

header > p {
    font-family: var(--highlight-font);
    font-size: 1.2em;
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

nav {
  background-color: var(--color5);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px black;
  font-weight: bold;
}

nav > a{
   background-color: var(--color4);
   color: var(--color5);
   text-decoration: none;
}

nav > a:hover {
    background-color: var(--color4);
    color: var(--color0);
}

main {
  min-width: 400px;
  max-width: 1000px;
  padding: 1.5px;
  margin: auto;
  margin-bottom: 35px;
  background-color: var(--color2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.410);
  border-bottom: 10px 10px;
    
}

main  h1 {
    color: var(--color5);
    font-family: var(--nunito-font);
    font-size: 1.2em;
    font-weight: normal;
}

main h2 {
    font-family: var(--nunito-font);
    color: var(--color4);
    font-size: 1.2em;
    font-weight: normal;
    background-image: -webkit-linear-gradient(to right, var(--color1), to transparent);
    text-indent: 8px;
}

main p {
    background-color: var(--color0);
    color: black;
    margin: 35px 0px;
    text-align: justify;
}


footer {
    background-color: var(--color4);
    font-family: var(--standart-font);
    color: black;
}

