@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color0:#FFFAFA;
    --color1:#87CEEB;
    --color2: #87CEFA;
    --color3: #2e86ac;
    --color4: #0d78a7;
    --color5: #065c81;;

    --standart-font: Arial, Verdana, Helvetica, sans-serif;
    --highlight-font:'Bebas Neue', 'cursive';
    --nunito-font:'Nunito','sans-serif';
}

* {
    margin: 1px;
    padding: 1px;
}

body{
   background-color: var(--color3);
    font-family: var(--standart-font);
    text-align: center;
    color: black;
}